.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52.2vh;
    font-family: Roboto, sans-serif;
    color: #292929;
}

.about-us__container {
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    width: 68.75vw;
}

.about-us__title {
    font-weight: 500;
    font-size: 1.875vw;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0;
    color: #292929;
    margin: 0;
    flex-shrink: 0;
}

.about-us-vertical-line {
    width: 0.47vw;
    height: 21.4vh;
    background-color: #FFA800;
    flex-shrink: 0;
}

.about-us__text {
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 100%;
    color: #292929;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.about-us__text p {
    margin: 0;
    padding: 0;
}

.about-us__text-bold {
    font-weight: 700;
}
