.progress-bar {
    width: 100%;
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    background-color: #3e3c41;
    height: 98px;
}

.progress-bar__elem {
    width: calc(100% / 4);
    height: 100%;
    position: relative;
}

.progress-bar__item,
.progress-bar__item-last-step {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #3e3c41;
    position: relative;
    padding-left: 50px;
}

.progress-bar__item::after,
.progress-bar__item::before,
.progress-bar__item-last-step::after,
.progress-bar__item-last-step::before {
    content: '';
    position: absolute;
    right: -25px;
    width: 50px;
    height: 49px;
    background-color: #3e3c41;
    border-right: 1px solid white;
    z-index: 2;
}

.progress-bar__item::after,
.progress-bar__item-last-step::after {
    top: 0;
    transform: skew(45deg);
}

.progress-bar__item::before,
.progress-bar__item-last-step::before {
    bottom: 0;
    transform: skew(-45deg);
}

.progress-bar__item_active,
.progress-bar__item-last-step_active {
    background-color: #ffa800;
}

.progress-bar__item_active::after,
.progress-bar__item_active::before,
.progress-bar__item-last-step_active::after,
.progress-bar__item-last-step_active::before {
    background-color: #ffa800;
    border-right: 1px solid white;
}

.progress-bar__item-last-elem {
    background-color: #3e3c41;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 50px;
}

/*.progress-bar__item-last-elem::after,*/
/*.progress-bar__item-last-elem::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    right: -51px;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background-color: #3e3c41;*/
/*    border-right: 1px solid white;*/
/*    transform: none;*/
/*}*/

.progress-bar__item-last-elem_active {
    background-color: #ffa800;
}

.progress-bar__item-last-elem_active::after,
.progress-bar__item-last-elem_active::before {
    background-color: #ffa800;
}

.progress-bar__step {
    width: 56px;
    height: 56px;
    margin-left: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

/* Название шага */
.progress-bar__name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    margin-left: 21px;
}
